.header {
	position: sticky;
	top: 0;
	z-index: 1000;

	& + .main .hero {
		min-height: calc(100vh - var(--header-height));
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__logo {
		margin-inline: auto;

		@include fluid-prop(max-width, 187, 138, 1440, 1920);
		@include fluid-prop(margin-top, 72, 56, 1440, 1920);
		@include fluid-prop(margin-bottom, 72, 56, 1440, 1920);

		@include tablet {
			@include fluid-prop(margin-top, 56, 54, 1024, 1440);
			@include fluid-prop(margin-bottom, 56, 54, 1024, 1440);
		}

		@include mobile {
			@include fluid-prop(margin-top, 54, 36, 402, 1024);
			@include fluid-prop(margin-bottom, 54, 36, 402, 1024);
		}
	}

	&__submenu {
		top: 70%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		background-color: #191919;
		z-index: 1001;
		font-family: "Clash Display", sans-serif;
		font-weight: 400;
		font-size: 16px;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&.open {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}

		& > * {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		& > a {
			font-weight: 700;
		}

		&-button {
			@include reset-button;
			text-align: center;
			margin-bottom: 32px;
			font-size: 16px;
		}

		p {
			margin: 12px 0 12px 0;
			text-wrap: nowrap;
		}

		padding-top: 32px;
		padding-bottom: 32px;

		@include fluid-prop(padding-left, 72, 38, 402, 1920);
		@include fluid-prop(padding-right, 72, 38, 402, 1920);
	}

	&__menu {
		text-transform: uppercase;

		&-button {
			@include reset-button;
			text-align: center;
			@include fluid-text(20, 16, 1440, 1920);
			@include fluid-prop(width, 58.03, 46.63, 1440, 1920);

			&--contacts {
				width: auto;
			}
		}

		&-list {
			display: flex;
			justify-content: space-between;
			margin-inline: auto;

			@include fluid-text(20, 16, 1440, 1920);
			@include fluid-prop(max-width, 1160, 856, 1440, 1920);

			@include tablet {
				@include fluid-prop(max-width, 856, 564, 1024, 1440);
			}

			@include mobile {
				@include fluid-prop(max-width, 564, 280, 402, 1024);
			}
		}
	}
}
