.header {
	// position: fixed;
	top: 0;
	z-index: 1000;

& + .main .hero {
  min-height: calc(100vh - var(--header-height));
}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__logo {
		margin-inline: auto;

		@include fluid-prop(max-width, 187, 138, 1440, 1920);
		@include fluid-prop(margin-top, 72, 56, 1440, 1920);
		@include fluid-prop(margin-bottom, 72, 56, 1440, 1920);

		@include tablet {
			@include fluid-prop(margin-top, 56, 54, 1024, 1440);
			@include fluid-prop(margin-bottom, 56, 54, 1024, 1440);
		}

		@include mobile {
			@include fluid-prop(margin-top, 54, 36, 402, 1024);
			@include fluid-prop(margin-bottom, 54, 36, 402, 1024);
		}
	}

	&__menu {
		text-transform: uppercase;

		&-button {
			@include reset-button;
		}

		&-list {
			display: flex;
			justify-content: space-between;
			margin-inline: auto;

			@include fluid-text(20, 16, 1440, 1920);
			@include fluid-prop(max-width, 1160, 856, 1440, 1920);

			@include tablet {
				@include fluid-prop(max-width, 856, 564, 1024, 1440);
			}

			@include mobile {
				@include fluid-prop(max-width, 564, 280, 402, 1024);
			}
		}
	}
}
