.hero {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;


	&__container {
		display: flex;
		justify-content: center;
	}

	&__title {
		letter-spacing: 0.5em;
		font-family: 'Medium-Regular', sans-serif;
		@include fluid-text(200, 53);
		font-weight: 200;
		span {
			letter-spacing: 0;
		}
	}
}
