.music {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		@include fluid-prop(margin-top, 118, 75, 1440, 1920);

		@include tablet {
			@include fluid-prop(margin-top, 75, 72, 1024, 1440);
		}

		@include mobile {
			@include fluid-prop(margin-top, 72, 60, 402, 1024);
			margin-bottom: 100px;
		}

		@media (max-width: 650px) {
			gap: 40px;
		}

	}

	&__row {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 650px) {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}

	&__track {
		@include fluid-prop(max-width, 445, 335, 1440, 1920);

		display: flex;
		flex-direction: column;
		align-items: center;

		@include tablet {
			@include fluid-prop(max-width, 335, 231, 1024, 1440);
		}

		@include mobile {
			@include fluid-prop(max-width, 231, 374, 402, 1024);
		}

		&-title {
			text-transform: uppercase;
			font-weight: 600;

			@include fluid-text(22, 16, 1440, 1920);
			@include fluid-prop(margin-top, 30, 22, 1440, 1920);
			@include fluid-prop(margin-bottom, 15, 12, 1440, 1920);

			@include tablet {
				@include fluid-text(16, 12, 1024, 1440);
				@include fluid-prop(margin-top, 22, 12, 1024, 1440);
				@include fluid-prop(margin-bottom, 12, 8, 1024, 1440);
			}

			@include mobile {
				@include fluid-text(12, 18, 402, 1024);
				@include fluid-prop(margin-top, 12, 20, 402, 1024);
				@include fluid-prop(margin-bottom, 8, 12, 402, 1024);
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-transform: uppercase;

			font-weight: 400;
			@include fluid-text(16, 12, 1440, 1920);

			@include fluid-prop(gap, 15, 12, 1440, 1920);

			@include tablet {
				@include fluid-text(12, 8, 1024, 1440);
				@include fluid-prop(gap, 12, 8, 1024, 1440);
			}

			@include mobile {
				@include fluid-text(8, 13, 402, 1024);
				@include fluid-prop(gap, 8, 12, 402, 1024);
			}
		}
	}
}
