:root {
	--color-light: #ffffff;
	--color-gray: #191919;
	--color-dark: #000000;

	--font-family-base: 'Clash Display', sans-serif;

	--container-full-width: 1840px;
	--container-full-padding-x: 40px;

	--transition-duration: 0.2s;
}
